    </main>
    <footer>
      <div class="footer__links">
        <a href="#top">Top</a> | 
        <a href="{{ '/' | url }}">Home</a> 
      </div>
      <div class="footer__contact">
        <p>East Providence Land Conservation Trust <br />
        PO Box 16201 • E. Providence, RI 02916</p>
      </div>
      <div class="footer__social">
        <a href="https://www.facebook.com/eplct/">Find us on Facebook</a>
      </div>
    </footer>
    <script src="{{ '/' | url }}assets/js/scripts.js" async></script>
  </body>
</html>
